<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nrjh.iop.modules.msg.message.mapper.MsgTrackingValueMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  msg_tracking_value 
		WHERE
			 message_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="com.nrjh.iop.modules.msg.message.entity.MsgTrackingValue">
		SELECT * 
		FROM  msg_tracking_value
		WHERE
			 message_id = #{mainId} 	</select>
</mapper>
