<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nrjh.iop.modules.stk.in.mapper.StockInOrderLineMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  stock_in_order_line 
		WHERE
			 order_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="com.nrjh.iop.modules.stk.in.entity.StockInOrderLine">
		SELECT * 
		FROM  stock_in_order_line
		WHERE
			 order_id = #{mainId} 	</select>
</mapper>
