<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nrjh.iop.modules.prd.attrcategory.mapper.PrdAttributeCategoryMapper">

    <select id="selectAttrCategoryListByCategoryId" parameterType="java.lang.String"
            resultType="com.nrjh.iop.modules.prd.attribute.entity.PrdAttributeValue">
        SELECT
        *
        FROM
        PRD_ATTRIBUTE_CATEGORY
        WHERE
        ID IN (
        SELECT DISTINCT
        ATTRIBUTE_CATEGORY_ID
        FROM
        PRD_PRODUCT_ATTR_CATEG_REL
        WHERE
        PRODUCT_ID IN (SELECT
        id
        FROM
        PRD_PRODUCT
        WHERE
        CATEGORY_ID = #{categoryId}))
    </select>

    <select id="selectAttributeByProductId" resultType="com.nrjh.iop.modules.prd.attrcategory.entity.PrdAttributeCategory">
     select pac.* from PRD_ATTRIBUTE_CATEGORY AS pac, prd_product_attr_categ_rel as ppac
        WHERE ppac.ATTRIBUTE_CATEGORY_ID = pac.ID AND ppac.PRODUCT_ID = #{productId}
    </select>

</mapper>